<?php 
use Modules\Constants\AffiliateLevel;

?>
<!DOCTYPE html>
<html lang="en">
<head>
<title>Accreditation - JMDC Diagnostic Center</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<style>

</style>
</head>
<body>
  <div id="myNav" class="dash-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="dash-overlay-content">
    <a href="#">Dashboard</a>
    <a href="#">Appointment</a>
    <a href="#">Accreditation</a>
    <a href="#">Products</a>
    <a href="#">Registration</a>
    <a href="#">Settings</a>
  </div>
  </div>
  
  <div class="container-fluid dash-nav">
    <div class="row">
      <div class="col-dash-menu-hamburger">
        <span style="font-size: 30px; cursor: pointer; color: white;" onclick="openNav()">&#9776;</span>
      </div>
      <div class="col dash-banner-sitename">
        <span class="dash-sitename"><a href="index.html">JMDC DIAGNOSTIC CENTER</a></span>
      </div>
      <div class="col dash-banner-user">
          <a href="#"><img class="avatar" src="/static/images/avatar.jpg"></a>
        </div>
      </div>
    </div>
    <div class="container-fluid dash-main">
    <div class="row">
    <div class="col dash-menu">
      <div class="container-fluid dash-menu-con">
          <?php include("templates/artifacts/side_bar.html"); ?>
      </div>
    </div>
    <div class="col dash-body">
      <div class="container-fluid pt-3 body-title">
        <div class="row">
          <div class="col" style="max-width: 165px;"><h4>Accreditation</h4></div>
          <div class="col"><a class="btn btn-secondary" href="accreditation/new" role="button">+ New Member</a></div>
        </div>
      </div>
      <div class="container tbl-con" style="width: 100%; padding: 0;">
        <div class="table-responsive" style="margin-bottom: 20px; width: 100%; padding-left: 15px;" >
      <table class="table table-hover" style="margin-top: 15px; margin-left: -15px; width: 100%;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Contact No.</th>
            <th scope="col">Email Address</th>
            <th scope="col">Affiliate Level</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
         <?php 
            if(isset($user_list)){
   
              $i=1;
              foreach($user_list as $user){
                echo "<tr>";
                echo "<td>".$i."</td>";
                echo "<td>".$user['username']."</td>";
               
                echo "<td>".$user['last_name']."</td>";
                echo "<td>".$user['first_name']."</td>";
                echo "<td>".$user['middle_name']."</td>";
                echo "<td>".$user['contact_number']."</td>";
                echo "<td>".$user['email_address']."</td>";
                echo "<td>".AffiliateLevel::get_name( $user['affiliate_level_id'])."</td>";
                echo "<td><a href=\"registration-edit?ID=1\"><img src=\"static/images/edit.png\"></a></td>";
                echo "</tr>";
                $i++;
              }
            }

          ?>
        </tbody>
      </table>
    </div>
</div>

      
    </div>
  </div>
  </div>

<div class="container-fluid split">
  </div>
  <div class="container-fluid footer">
    <div class="row">
      <div class="col">
        JMDC - Jagas MedicaDenta Corporation<br>
        #46 Filipinas Avenue, United Parañaque Subd. 5,<br>Sucat, Paranaque City
      </div>
      <div class="col text-right">
        © 2021. All rights reserved.
      </div>
    </div>
  </div>

<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
</body>
</html>