<?php
$cable_url="/modules/api_cable/registration_cable.php";
$title="Registration (New User) - JMDC Diagnostic Center";
$cancel_url="/registration";
$head="Registration (New User)";
if(isset($_GET['action'])){
  $title="Update Information - JMDC Diagnostic Center";
  $head="Update Account (".$_GET['user'].")";
  $cable_url="/modules/api_cable/update_information.php";
}
?>

<!DOCTYPE html>
<html lang="en">
<head>
<title><?php echo $title; ?></title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <!---
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  -->
  <script src='/static/js/brython.js'></script>
  <script src="/static/js/brython_stdlib.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<style>

</style>
</head>
<body onload='brython(1)'>

  <?php include_once('templates/artifacts/loading.html'); ?>
  <div id="myNav" class="dash-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="dash-overlay-content">
    <a href="#">Dashboard</a>
    <a href="#">Appointment</a>
    <a href="#">Accreditation</a>
    <a href="#">Products</a>
    <a href="#">Registration</a>
    <a href="#">Settings</a>
  </div>
  </div>
  
  <div class="container-fluid dash-nav">
    <div class="row">
      <div class="col-dash-menu-hamburger">
        <span style="font-size: 30px; cursor: pointer; color: white;" onclick="openNav()">&#9776;</span>
      </div>
      <div class="col dash-banner-sitename">
        <span class="dash-sitename"><a href="/">JMDC DIAGNOSTIC CENTER</a></span>
      </div>
      <div class="col dash-banner-user">
          <a href="#"><img class="avatar" src="/static/images/avatar.jpg"></a>
        </div>
      </div>
    </div>
    <div class="container-fluid dash-main">
    <div class="row">
    <div class="col dash-menu">
      <div class="container-fluid dash-menu-con">
        <?php include("templates/artifacts/side_bar.html"); ?>
      </div>
    </div>
    <div class="col dash-body">
      <div class="container-fluid pt-3 body-title">
    
        <h4><?php echo $head; ?></h4>
      </div>
      <div class="container form-appointment" is_login='true'>

        <?php include_once("templates/artifacts/registration_form.html"); ?>
    </div>

      
    </div>
  </div>
  </div>


<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>


</body>
<script type='text/python'>
  from utils.loader import Loader
  loader=Loader()
  loader.close_loader()
</script>

</html>