:root {
	/*--primary: #E7EEF3;*/
	--primary: #F0F9FF;
	--accent1: #D9E4EC;
	--accent2: #C6DBE6;
	--accent3: #4C788F;
	--accent4: #6F9FB9;
	--text:  #333333;
}

/***** Universal *****/
.btn.btn-secondary {
	background-color: var(--accent3);
	border-color: var(--accent3);
}
.btn.btn-secondary:hover {
	background-color: var(--accent4);
	border-color: var(--accent4);
}
.btn.btn-primary:active {
	background-color: var(--accent4);
	border-color: var(--accent3);
}
body {
	font-family: 'Segoe UI', 'Roboto', sans-serif;
	font-size: .9em;
	color: #333333;
}
.container-fluid.main-con {
	height: auto;
	padding: 0;
	/*background-color: var(--primary);*/
}
.container-fluid.banner {
	height: 90px;
  /*background-image: url("../images/3d-imaging.jpg");
	background-size: auto 1000px;
	background-repeat: no-repeat;
	background-color: white;
	/* background-position: center; */
	background-color: var(--accent1);
	background-position: top;
	/*border-bottom: solid #d5dfe7 5px;*/
	
}

.col.company-name {
    height: 100px;
    max-width: 70%;
    padding-top: 18px;
    padding-left: 0px;
  }
  .col.company-name h3 {
  	line-height: 25px;
  }
  .col.company-name a, a:hover {
  	text-decoration: none;
  	color: var(--text);
  }
  .col.company-logo {
    height: 100px;
    max-width: 9%;
    padding-top: 14px;
  }
  .col.company-logo img {
    width:  60px;
  }
  .col.soc-med {
    max-width: 20%;
    padding-top: 18px;
  }
  .container.inner-banner {
    width: 71.5%;
    height: 90px;
  }
  .container-fluid.soc-med {
    display: none;
  }

.container.main-body {
  width: 70%; 
  padding: none;
  /*margin-bottom: 40px;
  /*background-color: pink;*/
  margin-bottom: 0;
}
.col.title {
  padding: 20px;
  color: var(--accent3);
  text-align: center;
  font-family: Arial Black;
  letter-spacing: 1px;
}


/***** Home Page Images *****/
.container-fluid.img-con {
	width: 80%;
		top: 50%;
  		left: 50%;
  		/* bring your own prefixes */
  		transform: translate(-50%, -50%);
  		
  		text-align: center;

}
.col-sm-3 {
	max-width: 20%;
	height: 150px;
	display: flex;
   	align-items: center;
   	bottom: 0;
   	padding: none;
}
.col-sm-3 a {
	text-align: center;
	margin: 0 auto;
	margin-top: -30px;
}
.col-sm-3:hover #overlay {
	height: 100%;
	bottom:  0;
	opacity: 1;
}
.col-sm-3:hover .text {
	opacity: 1;
}
#overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	background: #6AABD2;
	height: 0px;
	transition: .5s ease;
	opacity: 0;
}
.text {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 1;
}
.img-text {
	display: block;
	position: absolute;
	bottom: 85px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #333333;
	letter-spacing: .9px;
}
#about-us {
	background-color: #C6DBE6;
}	
#services {
	background-color: var(--accent1);
}
#contact-us {
	background-color: #C6DBE6;
}
#tutorial {
	background-color: var(--accent1);
}
#login {
	background-color: #C6DBE6;
}
/***** Footer *****/
.container-fluid.footer {
	height: 120px;
	background: none;
	background-color: var(--accent3);
	color: var(--primary);
	line-height: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: .8em;
	letter-spacing: .7px;
	padding: 20px 20px;

}
.container-fluid.split {
	height: 5px;
	background: none;
	background-color: #6F9FB9;
}
/***** Login Form *****/
.container.form-login {
	position: relative;
	width:  50%;
	height: auto;
	padding: 20px;
	background-color: blue;
}
.col.login-form{
	width:  50%;
	height: auto;
	padding: 20px;
	background-color: blue;
}
/***** Dashboard *****/
.container-fluid.dash-banner {
	height: 50px;
	top: 100;
	background-color: #4C788F;
	position: relative;
	overflow: hidden;
}
.container-fluid.dash-nav	{
	background-color: #4C788F;
}
.col-dash-menu-hamburger {
	display: none;
	width: 50px;
	text-align: center;
}
.dash-overlay {
	display: none;
}
.col.dash-banner-sitename a{
	float: left;
	color: white;
	font-weight: 500;
	letter-spacing: .3px;
	line-height: 50px;
	text-decoration: none;
}
.col.dash-banner-user{
	padding-right: 0;
	max-width: 10%;
	float: right;
	right: 0;
}
.avatar {
	position: relative;	
	float: right;
	height: 50px;
	width: 50px;
}
.container-fluid.dash-main {
	height: auto;
	background-color: blue;
	padding: none;
}
.col.dash-menu {
	background-color: #C6DBE6;
	height: auto;
	max-width: 18%;
	min-height: 527px;
}
.container-fluid.pt-3.body-title {
	padding-left: 0;
}
.col.dash-body {
	background-color: var(--primary);
	height: auto;
	max-width: 82%;
}
.container-fluid.dash-menu-con {
	padding: 0;
	padding-top: 20px;
	overflow: hidden;
	height: auto;
}
.container-fluid.dash-menu-menu {
	margin: 15px 0px;
}
.container-fluid.dash-menu-menu a {
	font-weight: 600;
	/*color: lightslategray;*/
	text-decoration: none;
	opacity: .7;
	color: var(--text);
}
.container-fluid.dash-menu-menu a.active {
	font-weight: 600;
	color: var(--text);
	opacity: 1;
}
.container-fluid.dash-menu-menu a:hover {
	font-weight: 600;
	color: var(--text);
	opacity: 1;
}


/***** Appointment Form *****/
* {
  box-sizing: border-box;
}

.container.form-appointment {
	width: 60%;
	float: left;
	margin-left: 10px;
}
/*
input[type=text], select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}*/


.col-25 {
  float: left;
  width: 25%;
  margin-top: 15px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/***** Products *****/
.card-footer.prod-show-more {
	background-color: var(--accent2);
}
.prod-info-img {


float:left; width: auto; height: 250px; margin-right: 10px; margin-left: 5px; margin-bottom: 10px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #C6DBE6;
}

@media only screen and (max-width: 567px) {
.container.main-body {
  width: 100%;
}

.container-fluid.banner {
    height: 60px;
  }
  .container.inner-banner {
    width: 100%;
  }
  .col.company-name {
    max-width: 45%;
    margin-left: 25px;
    margin-top: 13px;
    padding-top: 0;
  }
  .col.company-name h3 {
    font-size: 18px;
    line-height: 16px;
  }
  .col.company-logo {
    height: 100px;
    max-width: 9%;
    padding-top: 8px;
    padding-left: 0;
  }
  .col.company-logo img {
    width:  45px;
  }
  .col.soc-med {
    max-width: 40%;
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    padding-top: 12px;
  }
  .col.soc-med img {
    width: 35px;
  }

.col.title {
  padding-left: 20px;
  background: none;
}
/***** Home Page *****/
.col-sm-3 {
	position: relative;
	max-width: 50%;
	height: 130px;
	float: left;
}
.col-sm-3 img {
	width: 70px;
	margin-top: 10px;
}
.img-text {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #333333;
}
#overlay {
	display: none;
}
.text {
	display: none;
}
#about-us {
	border-right: 2px dashed lightgray;
	background-color: var(--primary);
}	
#services {
	background-color: var(--primary);
}
#contact-us {
	background-color: var(--primary);
	border-right: 2px dashed lightgray;
	border-top: 2px dashed lightgray;
}
#tutorial {
	background-color: var(--primary);
	border-top: 2px dashed lightgray;
}
#login {
	background-color: var(--primary);
	border-top: 2px dashed lightgray;
	max-width: 100%;
}
/***** Login Form *****/	
.container.form-login {
	width:  100%;
}
/***** Dashboard *****/
.col.dash-menu {
	display: none;
}
.col-dash-menu-hamburger {
	display: block;
}
.dash-overlay {
	display: block;
  	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 100;
  	top: 0;
  	left: 0;/*
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0, 0.9);*/
  	background-color: #C6DBE6;
  	overflow-x: hidden;
  	transition: 0.5s;
}
.dash-overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 0px;
}
.dash-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: var(--text);
  display: block;
  transition: 0.3s;
}
.dash-overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.dash-overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
}
.col.dash-body {
	max-width: 100%;
}

.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 6px;
  }
  .container.form-appointment {
  	width: 100%;
  	margin-left: 0px;
  }
.prod-info-img {
	max-width: 100%;
	height: auto;
}
#btn-cancel {
	margin-top: -20px;
	width: 100%;
	margin-bottom: 20px;
}

}