
<div  class='alert alert-success' name='prompt' role='alert'>
    <style>
        button.close_alert{
            background-color: transparent;
            border:0px;
        }
        div[name=prompt]{
           margin:10px;
        }
    </style>
    <div align='right'>

            <button align='right' name='close_alert' class='close_alert'>&times;</button>
    </div>
    Temporary password: <b><?php echo $_POST['generated_password']; ?></b>
    <br/>
    Created User:<b> <?php echo $_POST['username']; ?> </b>
    <script type='text/python'>
        import jquery
        from browser import window
        jq=window.jQuery
        def fade_finish():
            jq('div[name=prompt').remove()
            
        def close_click(e):
         
            jq('div[name=prompt]').fadeOut("slow",fade_finish)
        jq('button[name=close_alert]').click(close_click)
    
    </script>
</div>
