<h3>Create an Account</h3>
<?php
if(isset($_POST['registration_ok'])){
        
  $registration_ok=$_POST['registration_ok']==='true'?true:false;
  if($registration_ok){
      include_once("templates/artifacts/password_prompt.html");

  }
}
?>
<form name='registration_form' class='login-form form' action="<?php echo $_SERVER['PHP_SELF'];?>" method="post">
    <input type='hidden' name='updating' value='<?php echo $is_updating; ?>'/>
    <input type='hidden' name='registration_ok' value='false'/>
    <input type='hidden' name='generated_password' value=''/>
    <div class="row">
      <div class="col-25">
        <label for="UserName">User Name :</label>
      </div>
      <div class="col-75">
        <input class="form-control" value='<?php echo $username; ?>' type="text" id="UserName" name="username">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="EmployeeNo">Employee Number :</label>
      </div>
      <div class="col-75">
        <input class="form-control" type="text" id="EmployeeNo" value='<?php echo $employee_no; ?>' name="employee_no">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="LastName">Last Name :</label>
      </div>
      <div class="col-75">
        <input class="form-control" type="text" id="LastName" name="last_name" value='<?php echo $last_name; ?>'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="FirstName">First Name :</label>
      </div>
      <div class="col-75">
        <input class="form-control" type="text" id="FirstName" name="first_name" value='<?php echo $first_name; ?>'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="MiddleName">Middle Name :</label>
      </div>
      <div class="col-75">
        <input class="form-control" type="text" id="MiddleName" name="middle_name" value="<?php echo $middle_name; ?>">
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="MiddleName">Email Address :</label>
        </div>
        <div class="col-75">
          <input class="form-control" type="text" id="EmailAddress" name="email_address" value="<?php echo $email_address; ?>">
        </div>
      </div>
    <div class="button-control">
      <input type="submit" name='reg' value="Save" class="btn btn-secondary" >&nbsp;
      <a href="#form_global"  data-slide='prev' name='cancel' class="btn btn-light" id="btn-cancel">Cancel</a>
    </div>
  </form>

  <script type="text/python">
    import jquery
    from browser import alert,window
    jq=window.jQuery
    from validations.base_validation import BaseValidation
    import json
    from utils.loader import Loader
    loader=Loader() 
    form=jq('form[name=registration_form]').parent()
    is_login=False
    if form.attr('is_login') == 'true':
      is_login=True
    
    def registration_connection_failed(res,status,xhr):
      alert('Connection to server not established')
    def registration_connection_ok(res,status,xhr):
      if status=='success':
        result=json.loads(res)
     
        if result['status'] != 'success':
          loader.close_loader()
          alert(result['message'])
          return False
    
        else:
          jq('input[name=registration_ok]').val('true')
          if 'password' in result.keys():
              jq('input[name=generated_password]').val(result['password'])
          jq('form[name=registration_form]').submit()
          
      else:
        loader.close_loader()
    
    
    def reg_click(e,base_validator:BaseValidation=None):
      e.preventDefault()
      if base_validator is None:
        alert('Connection to the server was not established')
        return False
      first_name_val=jq("input[name=first_name]").val()
      middle_name_val=jq("input[name=middle_name]").val()
      last_name_val=jq("input[name=last_name]").val()
      employee_no_val=jq("input[name=employee_no]").val()
      username_val=jq("input[name=username]").val()
      email_address_val=jq("input[name=email_address]").val()
      if not username_val:
        alert('Please input username')
        return False
      if not employee_no_val:
        alert('Please input employee number')
        return False
      if not first_name_val:
        alert('Please input first name')
        return False
      if not last_name_val:
        alert("Please input last name")
        return False
      if not email_address_val:
        alert("Please input email address")
        return False
    
      username_err=base_validator.validate('username',username_val)
      employee_no_err=base_validator.validate('employee_no',employee_no_val)
      first_name_err=base_validator.validate('first_name',first_name_val)
      middle_name_err=base_validator.validate('middle_name',middle_name_val)
      last_name_err=base_validator.validate('last_name',last_name_val)
      email_address_err=base_validator.validate('email_address',email_address_val)
      if username_err:
        alert(username_err)
        return False
      if employee_no_err:
        alert(employee_no_err)
        return False
      
    
      if first_name_err:
        alert(first_name_err)
        return False
      if middle_name_err:
        alert(middle_name_err)
        return False
      if last_name_err:
        alert(last_name_err)
        return False
      if email_address_err:
        alert(email_address_err)
        return False
      data_val={'username':username_val,'employee_no':employee_no_val,'first_name':first_name_val,'middle_name':middle_name_val,'last_name':last_name_val,'reg':'ok'}
      data_val['email_address']=email_address_val
      data_val['level']='staff'
      data_val['old_username']='<?php echo $username; ?>'
      data_val['old_employee_no']='<?php echo $employee_no; ?>'
      data_val['is_activated']='<?php echo $is_activated; ?>'
      data_val['date_registered']='<?php echo $date_registered; ?>'
      loader.show_loader()
      jq.post('<?php echo $cable_url; ?>',data_val,registration_connection_ok).fail(registration_connection_failed)
    
    
    
    def open_cable(has_validator=False,validator=[]):
      if not has_validator:
        alert('Connection to the server was not established')
        return False
      jq('input[name=reg]').click(lambda e,base_validator=BaseValidation(validator):reg_click(e,base_validator))
    
       
      
      
    
    def validator_ready(res,status,xhr):
      if status=='success':
        try:
          result=json.loads(res)
          if result['status']=='success':
              open_cable(has_validator=True,validator=result['data'])
          else:
             alert(result['message'])
        except:
          alert('Could not connect to server')
    def validator_failed(res):
      open_cable()
      
    validators={ "validate":['username','first_name','middle_name','last_name','employee_no'],"validator":"validate"  }
    jq.post("/modules/api_cable/get_validator_cable.php",validators,validator_ready).fail(validator_failed)
    
    if not is_login:
      def fade_finish():
         jq('div[name=prompt').remove()
      def close_click(e):
         
         jq('div[name=prompt]').fadeOut("slow",fade_finish)
      def submitted(res,status,xhr):
        parent=jq('form[name=registration_form]').parent()
        parent.html(res)
        jq('button[name=close_alert]').click(close_click)
        loader.close_loader()
      def submit_registration(e):
        e.preventDefault()
        call_url='/controller/signup.php'
        jq.post(call_url,jq(e.target).serialize(),submitted)
        
        
      jq('form[name=registration_form]').submit(submit_registration)
    
    </script>