<div class="clearfix card service_card" style="background-color: var(--accent2);">
    <div class='image_container'>
        <img class="card-img-top" src="{image_base64}" alt="" style="width: 100px; height: auto;">
	
    </div>
	<div class="card-body">
	  <h5 class="card-title" style="padding: 0;">{product_name}</h5>
	  <!--<p class="card-text">class1</p>-->
	</div>
	<div class="card-footer prod-show-more" style="margin-top: -25px; background-color: var(--accent2);">
	  <a href="/services/{product_code}" class="btn btn-secondary">Find out more</a>
	</div>
</div>
