<div class="clearfix card video_card" style="background-color: var(--accent2);">
    <div class='image_container'>
        <img class="card-img-top" src="https://img.youtube.com/vi/{youtube_id}/mqdefault.jpg" alt="" style="width: 100px; height: auto;">
	
    </div>
	<div class="card-body">
	  <h5 class="card-title" style="padding: 0;">{video_title}</h5>
	  <!--<p class="card-text">class1</p>-->
	</div>
	<div class="card-footer watch" style="margin-top: -25px; background-color: var(--accent2);">
	  <a href="/tutorials/watch/{youtube_id}" class="btn btn-secondary">Watch now</a>
	</div>
</div>
